@import '@/styles/variables';
@import '@/styles/colors';
@import '@/styles/responsive';

.container {
  padding: 0 $side-padding;

  position: sticky;
  top: 0;
  z-index: 100;

  background-color: $white;
  transition: box-shadow 0.3s ease;

  // 스크롤 시 box-shadow 적용
  &.scrolled {
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  }

  @include mobile {
    padding: 0 24px;
  }
}

.inner {
  width: 100%;
  max-width: $max-width;
  height: $header-height;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mobile {
    height: 56px;
  }
}

.nav {
  flex: 1 1;
  margin-right: 16px;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    @include mobile {
      gap: 16px;
    }

    li {
      font-size: 18px;
      font-weight: $font-weight-semibold;
      line-height: $header-height;
      position: relative;

      @include mobile {
        font-size: 14px;
        line-height: 56px;
      }
    }

    @include max-width(480px) {
      li:nth-child(1),
      li:nth-child(3) {
        display: none;
      }
    }
  }
}

.logo {
  width: 140px;
  height: 100%;

  @include mobile {
    width: 100px;
  }
}
