@import '@/styles/variables';
@import '@/styles/colors';

.container {
  padding: 0 $side-padding;

  position: sticky;
  top: 0;
  z-index: 100;

  background-color: $white;
  transition: box-shadow 0.3s ease;

  // 스크롤 시 box-shadow 적용
  &.scrolled {
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  }
}

.inner {
  width: 100%;
  max-width: $max-width;
  height: $header-height;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  flex: 1 1;
  margin-right: 16px;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    li {
      font-size: 18px;
      font-weight: $font-weight-semibold;
      line-height: $header-height;

      position: relative;
    }
  }
}

.logo {
  width: 140px;
  height: 100%;
}
