@import '@/styles/colors';
@import '@/styles/variables';

.serviceInquiry {
  .serviceInquiryContent {
    display: flex;
    margin: 0 calc($space-md * -1 / 2);

    @include mobile {
      flex-direction: column;
      margin: 0 calc(16px * -1 / 2) !important;
      row-gap: 12px;
    }

    @include tablet-and-mobile {
      flex-wrap: wrap;
      margin: 0 calc(24px * -1 / 2);
    }

    @include desktop {
      margin: 0 calc(24px * -1 / 2);
    }

    .serviceInquiryItem {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;

      flex: 1 1;
      margin: 0 calc($space-md / 2);
      padding: 0 1.4em;

      background-color: $white;
      border: 1px solid $midnight900;

      font-size: $btn-2xl-font-size;
      font-weight: $font-weight-semibold;
      height: $btn-2xl;
      min-height: $btn-2xl;

      @include mobile {
        justify-content: flex-start;
        margin: 0 calc(16px / 2);
      }

      @include tablet {
        &:last-child {
          margin-top: 24px !important;
          min-width: calc(100% - 24px);
        }

        font-size: 16px;
        margin: 0 calc(24px / 2);
      }

      @include desktop {
        margin: 0 calc(24px / 2);
      }

      img {
        height: $icon-lg;
        width: $icon-lg;

        @include tablet-and-mobile {
          width: 32px;
          height: 32px;
        }
      }

      span {
        line-height: $line-height-sm;

        .serviceInquiryItemSubtitle {
          color: $gray500;
          display: block;
          font-size: 14px;
          font-weight: $font-weight-regular;
        }
      }
    }
  }
}
