@import '@/styles/variables';
@import '@/styles/colors';

$collapse-item-padding: 24px;
$collapse-item-font-size: 20px;
$collapse-content-padding: 32px 40px;

.collapseList {
  border-top: 2px solid $midnight900;

  .collapseItem {
    border-bottom: 1px solid $gray100;

    .collapseItemHeader {
      cursor: pointer;

      position: relative;

      width: 100%;
      overflow: hidden;

      display: flex;
      align-items: center;

      padding: $collapse-item-padding 0;
      padding-right: calc($px-xlg + 1.6em);

      font-size: $collapse-item-font-size;
      line-height: $line-height-sm;

      @include mobile {
        padding: 16px 0;
        font-size: 16px;
        padding-right: calc(32px + 1.6em);

        flex-wrap: wrap;
      }

      @include tablet {
        padding: 24px 0;
        font-size: 20px;
        padding-right: calc(56px + 1.6em);

        flex-wrap: wrap;
      }

      @include desktop {
        padding: 18px;
        font-size: 18px;
      }

      &::after {
        background: url('@icons/ic_arrow.svg') no-repeat;
        background-size: auto 100%;
        content: '';

        width: $icon-md;
        height: $icon-md;

        position: absolute;
        right: calc(($px-xlg - $icon-md) / 2);

        transition:
          transform 0.4s $cubic-bezier-primary,
          -webkit-transform 0.4s $cubic-bezier-primary;

        @include mobile {
          width: 24px;
          height: 24px;

          right: calc((32px - 24px) / 2);
        }

        @include tablet {
          width: 28px;
          height: 28px;

          right: calc((56px - 28px) / 2);
        }

        @include desktop {
          right: calc((64px - 32px) / 2);
        }
      }

      &.active::after {
        transform: rotate(180deg);
      }

      .collapseItemCategory {
        box-sizing: initial;
        width: 8em;
        padding: 0 $collapse-item-padding;
        color: $gray500;
        text-align: center;

        @include tablet-and-mobile {
          display: flex;
          align-items: center;

          font-size: calc(1em - 4px);
          line-height: $line-height-md;
          margin: 0 0 4px;
          padding: 0 !important;
          width: auto;
        }

        @include desktop {
          padding: 0 20px;
        }
      }

      .collapseItemTitle {
        flex: 1 1;
        padding-left: $collapse-item-padding;
        text-align: left;
        box-sizing: border-box;

        @include tablet-and-mobile {
          margin: 0;
          min-width: 100%;
          padding: 0;
        }
      }
    }

    .collapseItemContent {
      border-top: 1px solid $gray100;

      font-size: 1rem;
      line-height: $line-height-lg;

      overflow-x: scroll;
      padding: $collapse-content-padding;

      @include mobile {
        padding: 16px 0;
      }

      @include tablet {
        padding: 24px 24px;
      }

      @include desktop {
        padding: 24px 32px;
      }

      .collapseItemContentText {
        margin: 0 18px;

        @include mobile {
          margin: 0 2px;
        }

        p {
          margin: 18px 0;

          @include mobile {
            margin: 14px 0;
          }

          @include tablet {
            margin: 16px 0;
          }
        }
      }
    }
  }
}
