@import '@/styles/colors';
@import '@/styles/variables';

.appInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background-color: $gray10;
  border-radius: 16px;

  padding: 32px;
  margin-top: 48px;
  overflow: hidden;

  @include mobile {
    padding: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: $line-height-sm;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;

    @include mobile {
      font-size: 16px;
      margin-bottom: 16px;
    }

    @include tablet {
      font-size: 20px;
    }
  }

  .appInfoBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include mobile {
      flex-direction: column;
      gap: 12px;
    }
  }
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: $font-weight-semibold;

  width: 392px;
  height: 64px;

  border-radius: 8px;
  background-color: $white;

  @include mobile {
    width: 264px;
    height: 48px;
    font-size: 14px;
  }

  @include tablet {
    font-size: 14px;
    height: 56px;
    width: 264px;
  }

  @include desktop {
    font-size: 16px;
    height: 60px;
    width: 296px;
  }

  &::before {
    display: inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    content: '';
    width: 28px;
    height: 28px;
    margin-right: 4px;

    @include mobile {
      width: 24px;
      height: 24px;
    }

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
}

// Play Store 특정 스타일 (이미지)
.playstore {
  &::before {
    background-image: url('@logos/logo_playstore.svg');
  }
}

// App Store 특정 스타일 (이미지)
.appstore {
  &::before {
    background-image: url('@logos/logo_appstore.svg');
  }
}
