$midnight900: #05141f;
$midnight100: #cdd0d2;

$black300: #9ba1a5;
$gray700: #37434c;
$gray500: #697278;
$gray400: #82898f;
$gray300: #b4b9bc;
$gray200: #cdd0d2;
$gray100: #e6e8e9;
$gray50: #f6f6f9;
$gray10: #f8f8f8;


$white: #fff;

$primaryRed: #ff0900;
$primaryBlue: #4296e4;
