$max-width: 1660px;
$content-max-width: 1240px;
$search-bar-width: 100%;

$cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);

$side-padding: 48px;
$bottom-padding: 80px;
$h2-margin: 48px 0 24px;

$header-height: 80px;
$title-header-height: 222px;

$line-height-sm: 1.4;
$line-height-md: 1.6;
$line-height-lg: 1.8;

$font-weight-regular: 400;
$font-weight-semibold: 600;

$font-size-md: 14px;
$font-size-lg: 16px;

$h1-font-size: 48px;
$h1-font-size-sm: 20px;
$h2-font-size: 24px;
$tab-font-size: 20px;
$btn-2xl-font-size: 18px;

$btn-2xl: 80px;
$btn-height-xlg2: 56px;
$btn-height-md: 48px;

$px-xlg: 76px;
$px-lg: 48px;
$px-md: 24px;
$px-sm: 16px;
$px-xs: 8px;

$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 40px;
$icon-xl: 48px;

$space-sm: 20px;
$space-md: 24px;
