@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4em;

  width: $content-max-width;
  height: $title-header-height;

  h1.title {
    font-size: $h1-font-size;
    line-height: $line-height-sm;
  }
  h1.description {
    font-size: $h1-font-size-sm;
    font-weight: $font-weight-regular;

    line-height: $line-height-md;
  }
}
