@import '@/styles/variables';
@import '@/styles/responsive';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4em;

  width: $content-max-width;
  height: $title-header-height;

  @include mobile {
    height: 124px;
    gap: 0.3em;
  }

  @include tablet {
    height: 160px;
  }

  @include desktop {
    height: 192px;
  }

  h1.title {
    font-size: $h1-font-size;
    line-height: $line-height-sm;

    @include mobile {
      font-size: 24px;
    }

    @include tablet {
      font-size: 32px;
    }

    @include desktop {
      font-size: 40px;
    }
  }

  h1.description {
    font-size: $h1-font-size-sm;
    font-weight: $font-weight-regular;
    line-height: $line-height-md;

    @include mobile {
      font-size: 14px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 18px;
    }
  }
}
