@import '@/styles/variables';
@import '@/styles/colors';
@import '@/styles/responsive';

$clear-space: 16px;

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $gray10;

  padding: $px-md;
  margin-bottom: $px-md;

  @include tablet-and-mobile {
    padding: 16px;
    margin-bottom: 16px;
  }

  @include desktop {
    padding: 20px;
    margin-bottom: 20px;
  }

  .wrapper {
    width: $search-bar-width;

    position: relative;

    @include mobile {
      width: 100%;
    }

    input {
      width: 100%;
      height: $btn-height-xlg2;

      border: 1px solid $midnight900;

      font-size: 1rem;

      padding-left: 16px;
      padding-right: calc($icon-sm + $clear-space + $btn-height-xlg2 - 2px);

      @include mobile {
        height: 40px;
        font-size: 0.875rem;
        padding-right: calc(20px + $clear-space + 40px - 2px);
      }

      @include tablet {
        height: 48px;
        padding-right: calc(24px + 16px + 48px - 2px);
      }
    }

    .reset {
      position: absolute;
      top: 1px;
      right: calc(-1px + $btn-height-xlg2);

      display: flex;
      align-items: center;
      justify-content: center;

      width: calc($icon-sm + $clear-space);
      height: $btn-height-xlg2;

      font-size: 0;

      @include mobile {
        right: calc(-1px + 40px);
        height: 40px;
        width: calc(20px + $clear-space);
      }

      @include tablet {
        right: calc(-1px + 48px);
        height: 48px;
        width: calc(20px + 16px);
      }

      &::before {
        content: '';

        width: $icon-sm;
        height: $icon-sm;

        background-image: url('@icons/ic_clear.svg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile {
          width: 20px;
          height: 20px;
        }

        @include tablet {
          width: 24px;
          height: 24px;
        }
      }
    }

    .submit {
      position: absolute;
      top: 1px;
      right: 1px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: calc($btn-height-xlg2 - 2px);
      height: $btn-height-xlg2;

      font-size: 0;

      @include mobile {
        width: calc(40px - 2px);
        height: 40px;
      }

      @include tablet {
        width: calc(48px - 2px);
        height: 48px;
      }

      &::before {
        content: '';

        width: $icon-md;
        height: $icon-md;

        background-image: url('@icons/ic_search.svg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile {
          width: 20px;
          height: 20px;
        }

        @include tablet {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
