@import '@/styles/variables';
@import '@/styles/colors';
@import '@/styles/responsive';

$line-height: 24px;
$footer-height: 176px;
$column-gap: 12px;

.footer {
  background-color: $midnight900;
  color: $gray400;
  padding: 0 $side-padding;
  position: relative;

  @include mobile {
    padding: 0 24px;
  }

  @include tablet {
    padding: 0 48px;
  }

  .footerContainer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

    font-size: $font-size-md;
    line-height: $line-height;

    max-width: $max-width;
    height: $footer-height;

    margin: 0 auto;

    @include mobile {
      flex-direction: column-reverse;
      align-items: flex-start;

      padding-bottom: 29px;
      padding-top: 23px;

      height: 284px;
      font-size: 12px;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 44px;
      padding-top: 34px;

      font-size: 14px;
      height: 296px;
    }

    .footerInfo {
      .footerTerms {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 10px;
        column-gap: 24px;

        @include mobile {
          column-gap: 16px;
          margin-bottom: 16px;
        }

        @include tablet-and-mobile {
          justify-content: flex-start;
        }

        a {
          color: $white;
          font-size: $font-size-lg;
          font-weight: $font-weight-semibold;
          cursor: pointer;

          @include mobile {
            font-size: 14px;
          }
        }
      }

      .footerInfoText {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        column-gap: $column-gap;
        flex-wrap: wrap;

        @include mobile {
          max-width: 300px !important;
          column-gap: 10px;
        }

        @include tablet-and-mobile {
          justify-content: flex-start;
          max-width: 450px;
        }

        p {
          display: inline-flex;
          column-gap: $column-gap;

          @include mobile {
            font-size: 12px;
            column-gap: 12px;
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }

    .footerLogo {
      margin: 0;

      @include mobile {
        order: -1;
      }

      &::before {
        content: '';
        display: block;

        background: url('@logos/logo_kia-wht.svg') no-repeat;
        background-size: auto 100%;

        height: 56px;
        margin-bottom: 2px;

        @include mobile {
          height: 40px;
        }
      }
    }
  }
}
