@import '@/styles/variables';
@import '@/styles/colors';

.main {
  padding: 0 $side-padding $bottom-padding;
  background-color: $white;
  overflow: hidden;
}

.content {
  margin: 0 auto;
  max-width: $content-max-width;
}
