@import '@/styles/variables';
@import '@/styles/colors';
@import '@/styles/responsive';

.main {
  padding: 0 $side-padding $bottom-padding;
  background-color: $white;
  overflow: hidden;

  @include mobile {
    padding: 0 24px 80px;
  }
}

.content {
  margin: 0 auto;
  max-width: $content-max-width;

  @include mobile {
    margin: 0;
  }
}

.loadMoreBtn {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  background-color: $white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;

  &:disabled {
    cursor: not-allowed;
  }

  @include mobile {
    padding: 10px;
    font-size: 14px;
    margin: 15px 0;
  }
}
